/* Table of Contents 
1. Imports
2. General Rules
3. Mobile Rules
4. Large Screen Rules
*/

/* 1. Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/* Normalize for browsers */
@import url(../css/normalize.css);

/* 2. General Rules */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.hide{
    display: none;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sansita, Eurostyle, sans-serif;
}

.n {
    transform: rotate(0deg);
}

.ne {
    transform: rotate(45deg);
}

.e {
    transform: rotate(90deg);
}

.se {
    transform: rotate(135deg);
}

.s {
    transform: rotate(180deg);
}

.sw {
    transform: rotate(225deg);
}

.w {
    transform: rotate(270deg);
}

.nw {
    transform: rotate(315deg);
}

/* header */
header {
    background-color: #0e89d5;
}

/* footer */
footer {
    margin-bottom: 2em;
    min-height: 20px;
    background-color: #0e89d5;
}

/* 3. Mobile Rules */

/* Header */
#site-brand {
    font-size: 2em;
    font-weight: 600;
}

#logo {
    height: 40px;
    margin-bottom: -5px;
    padding-left: 5px;
}

/* location-info */
#location-info h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2em;
}

#location-info h1,
#zip {
    padding-left: 5px;
}

#zip,
#location,
#elevation {
    font-size: 0.75em;
}

/* middle boxes */
.middle-boxes {
    text-align: center;
}

#currentWeather {
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.middle-tile,
.tile {
    background-color: rgba(200, 200, 200, 0.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
}

/* temp tile */
#current-temp {
    font-size: 5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

#daily-high {
    color: #b12e2f;
}

#daily-low {
    color: #383bb7;
}

/* wind tile */
#wind h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#dial {
    height: 150px;
    width: 150px;
    background: no-repeat center/85% url(../images/wind-pointer.png);
    z-index: 100;
    margin: -.6em auto 0;
}

#mph-compass {
    position: relative;
    bottom: 110px;
    z-index: 2;
    margin-bottom: -55px;
}

#wind-direction {
    margin-bottom: 0px;
}

#wind-gusts {
    margin-top: 0px;
}

/* sky tile */
#skyBox {
    height: 200px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
    
}

/* forecast tile */
#forecast {
    background-color: #dedede;
}

#forecast h2 {
    text-align: center;
}

#forecast ul {
    overflow: auto;
    white-space: nowrap;
    margin-left: -30px;
}

#forecast li {
    display: inline-block;
    padding: 0px;
    text-decoration: none;
}

/* nav */
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0e89d5;
    z-index: 3;
}

nav ul {
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    min-height: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

footer {
    margin-bottom: 70px;
}

/* Different Weather Conditions */
.clear {
    background-image: url(../images/clear-400.jpg);
}

.rain {
    background-image: url(../images/rain-400.jpg);
}

.snow {
    background-image: url(../images/snow-267.jpg);
}

.clouds {
    background-image: url(../images/clouds-400.jpg);
}

.fog {
    background-image: url(../images/fog-400.jpg);
}

/* 4. Large Screen Rules */
@media screen and (min-width: 800px) {

    body>div {
        width: 90%;
        margin: 0 auto;
        max-width: 3000px;
    }

    header {
        background-color: #0e89d5;
        display: flex;
        align-items: center;
    }

    #site-brand {
        padding-left: 20px;
    }
    
    .middle-tile {
        width: 33%;
    }

    nav {
        position: static;
    }

    #logo {
        height: 80px;
    }

    nav a {
        color: black;
    }

    #location-info {
        margin-bottom: 10px;
    }

    #currentWeather {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #mph-compass {
        position: relative;
        bottom: 105px;
        z-index: 2;
        margin-bottom: -70px;
    }

    #forecast {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    footer {
        background-color: #0e89d5;
        border-top: 3px solid;
        margin-bottom: 0px;
    }

    /* Different Weather Conditions */
    .clear {
        background-image: url(../images/clear-1200.jpg);
    }

    .rain {
        background-image: url(../images/rain-1200.jpg);
    }

    .snow {
        background-image: url(../images/snow-800.jpg);
    }

    .clouds {
        background-image: url(../images/clouds-900.jpg);
    }

    .fog {
        background-image: url(../images/fog-1200.jpg);
    }
}