@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@media screen and (max-width: 900px) {
    body {
        background: black;
    }

    main {
        color: white;
    }

    a {
        color: yellow;
    }
}

h1 {
    color: red;
}

body {
    font-size: 3em;
    padding: 100px;
}