/* Table of Contents 
1. Imports
2. General Rules
3. Mobile Rules
4. Large Screen Rules
*/

/* 1. Imports */

/* 2. General Rules */

#flexList {
    display: flex;
}

#gamesList {
    list-style: none;
    background-color: ;
    font-size: 3em;

}

/* 3. Mobile Rules */

/* 4. Large Screen Rules */
@media screen and (min-width: 700px) {

    body>div {
        width: 90%;
        margin: 0 auto;
        max-width: 3000px;
    }

    #myInput {
        font-size: 6em;
    }
}